<div class="image__section--full-width">
  <div class="md--up--hide">
    <img src="{{ product.metafields.attributes.mobile_full_width_image }}" alt="{{ product.title }}"/>
  </div>

  <div class="sm--hide">
    <img src="{{ product.metafields.attributes.full_width_image }}" alt="{{ product.title }}"/>
  </div>
</div>
