<div class="max-site-width md--up--px2">
  <div class="hero-section lg--up--ten-twelfths mx--auto px2 md--up--px0">
    <div class="sm--hide">
      <img src="https://cdn.shopify.com/s/files/1/0074/3859/8244/files/hero-01_fc74329b-f0c4-4672-9bed-cff841839c42.jpg?25440" alt="Rob Van Wyen & Kevin Seitz"/>

      <div class="hero-section__title-container--logo">
        {% include 'logo__large' %}
      </div>
    </div>

    <div class="md--up--hide">
      <img src="https://cdn.shopify.com/s/files/1/0074/3859/8244/files/hero-01-m_77e4d8d4-d192-40bc-b8cc-5982c218b1a4.jpg?25440" alt="Rob Van Wyen & Kevin Seitz"/>

      <div class="hero-section__title-container--logo">
        {% include 'logo__large' %}
      </div>
    </div>

    <div class="hero-section__text-container line-length--large pt2 px1 md--up--px3">
      <span class="text__body text__body--3 text__body--3--consistent text__body--slim text__body--white">
        Seitz was founded in 2018 by designers
        <span class="text__highlight text__highlight--1 text__highlight--white">
          Rob
          <span class="text__highlight text__highlight--3 text__highlight--white">Van</span>
          Wyen & Kevin Seitz
        </span>
        with the aim to revitalize art forms that are quickly fading away.
      </span>
    </div>

    <div class="text-align--center">
      <div class="hero-section__icon">
        {%- include 'arrow-down' -%}
      </div>
    </div>
  </div>
</div>

<div class="page page-style bg--secondary-background">
  <div class="max-site-width md--up--px2">
    <div class="page-section lg--up--ten-twelfths mx--auto px2 md--up--px0">
      <div class="grid">
        <div class="grid__item md--up--four-twelfths lg--up--three-twelfths">
          <div class="detail__container">
            <div class="detail__title text__highlight text__highlight--2">Contact the Studio</div>
            <div class="mt2 label">Call</div>
            <a class="detail link--inverse" href="tel:+13475991403">+1.347.599.1403</a>
            <div class="mt1 md--up--mt2 label">Email</div>
            <a class="detail" href="mailto:studio@studioseitz.com">studio@studioseitz.com</a>
            <div class="my3">
              <a href="/pages/request-a-quote" class="action-button action-button--contrast--inverse">
                Request A Quote
              </a>
            </div>
          </div>
        </div>

        <div class="grid__item md--up--eight-twelfths lg--up--nine-twelfths">
          <div class="detail__sibling-content md--up--nine-tenths lg--up--eight-tenths rte">
            <h4>Seitz builds upon the traditions that precede us—upholding modernist principles with tactile simplicity.
              Through honest materials and distinct techniques, we can transform our perception of everyday objects.
            </h4>

            <p>
              The Seitz name is no stranger to craft inside the municipality of Berneck, Switzerland—dating back to 1795.
              This small, yet industrious town has been home to artisans for hundreds of years—most notably for its ceramics.
              The Seitz family were one of many early craftsmen whose work influenced the region’s handicrafts industry.
            </p>

            <div class="sm--hide">
              <img src="https://cdn.shopify.com/s/files/1/0074/3859/8244/files/plans_3cfcb72e-8578-4531-90bd-60231abd93c6.jpg?26775" alt="Seitz plans"/>
            </div>

            <div class="md--up--hide">
              <img src="https://cdn.shopify.com/s/files/1/0074/3859/8244/files/plans-m_92042ebe-f9dd-4307-aa9c-5b3f38a48b45.jpg?26775" alt="Seitz plans"/>
            </div>

            <p>
              Today, this tradition continues with designers Kevin Seitz and Rob van Wyen—through the preservation and modern
              interpretation of local Swiss techniques. The pair present their inaugural collection—driven by the past, refined for today.
              Along with their lineage of Swiss makers, the studio seeks to revitalize art forms that are quickly fading away.
            </p>

            <h4 class="p0">
              Each piece was born out of a necessity.
            </h4>

            <p>
              This is the starting place when approaching any new design—inspired
              by the bygone techniques of our ancestors, paired with modern silhouettes
              to create liminal objects for everyday living.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
